{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}
    <div class="container">
        <h3>{{dish.name}}</h3>
        <img src="{{asset('uploads/images/'~dish.image)}}"/>
    </div>
{% endblock %}
